@font-face {
    font-family: "Molas";
    src: url(MollasRegular-MVOXp.ttf);
}
html {
    font-size: 3em;
    font-family: Molas;
    overflow-x: hidden;
}


body {
    margin: auto 0px;
}
header {
    margin:  1rem auto auto;
    text-align: center;
    min-height: 100vh;
}

header img.toilet {
    max-height: 50vh;
}
 header .author {
    font-size: 2rem;
 }



h1, h2, h3 {
    font-size: 3.5rem;
    padding: 1rem  0 1.5rem;
    text-align: center;
    line-height: 3.5rem;
    color: darkred;
}

h3  {
    padding: 0 ;
}
section:nth-child(odd) {
    background-color: lightgrey;
}
section {
    min-height: 100vh;
    border-top: 4px solid darkred;
    
}
section p,
footer p {
    width: 80%;
    font-size: 4em;
    margin: auto;
    padding-bottom: 1rem;
    text-justify: inter-character;
    text-align: justify;
}

footer { 
    margin: 0 1rem ;
    border-top: 2px solid darkred;
    height: 100vh;
}

footer .author-image {
    text-align: center;
}

footer img.headshot {
    max-height: 20vh;
    margin: 1rem 0;
    border: 1px solid darkred;
}

@media screen and (min-width: 960px) {
    header img.toilet {
        max-height: 33vh;
    }
    html {
        font-size: 2em;
    }
    section p,
    footer p {
        width: 66%;
        font-size: 1.5rem;
    }
}